@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "react-day-picker/dist/style.css"; */

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #fafbfc; */
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  overflow:hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  scrollbar-gutter: stable;
  -ms-overflow-style: none;
  padding-right: 6px;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  .scrollbar {
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.scroll-container {
  margin-right: 0px;
}

/* Hide scrollbar when not scrolling */
.scrollbar-hidden::-webkit-scrollbar {
  width: 0.3em; /* Increase width to accommodate margin */
}

.scrollbar-hidden::-webkit-scrollbar-track {
  /* background: transparent; */
  margin-right: 1rem; /* Add margin to the right of the track */
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  /* background-color: transparent; Start with transparent background */
  border-radius: 0.25rem;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin-right: 1rem; /* Add margin to the right of the thumb */
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  background-color: #888; /* Change to your desired color */
}

.scrollbar-hidden::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on thumb hover */
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.custom-screen {
  @apply px-4 mx-auto max-w-screen-xl md:px-8;
}

.custom-btn-bg {
  background: radial-gradient(67.5% 67.5% at 50% 50%, #4B5563 0%, rgba(75, 85, 99, 0) 100%)
}

.custom-btn-bg:hover {
  background: radial-gradient(118.75% 118.75% at 50% 50%, #4B5563 0%, rgba(75, 85, 99, 0) 100%);
}